<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mini.auth.mapper.AuthUserRoleMapper">
    <insert id="batchInsert">
        INSERT INTO auth_user_role (id,role_id,role_name,user_id,username,del_flag)
        VALUES
        <foreach collection="authUserRoleList" item="item" separator=",">
            (#{item.id},#{item.roleId},#{item.roleName},#{item.userId},#{item.username},#{item.delFlag})
        </foreach>
    </insert>
</mapper>