<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mini.auth.mapper.AuthRoleMapper">

    <resultMap id="roleMap" type="com.mini.auth.model.dto.AuthRoleRelationDTO">
        <id column="arID" property="id"/>
        <result column="role_name" property="roleName"/>
        <result column="role_code" property="roleCode"/>
        <collection property="authPermissionDTOList" ofType="com.mini.auth.model.dto.AuthPermissionDTO">
            <id column="apID" property="id"/>
            <result column="parent_id" property="parentId"/>
            <result column="menu_name" property="menuName"/>
            <result column="menu_path" property="menuPath"/>
            <result column="menu_url" property="menuUrl"/>
            <result column="menu_type" property="menuType"/>
            <result column="permissions" property="permissions"/>
            <result column="icon" property="icon"/>
            <result column="sort" property="sort"/>
        </collection>
    </resultMap>

    <select id="selectPage" resultType="com.mini.auth.model.dto.AuthRoleRelationDTO">
        SELECT ar.id,
        ar.role_name,
        ar.role_code
        FROM auth_role ar
        <where>
            ar.del_flag = 1
            <if test="query.roleName != null and query.roleName != ''">
                AND ar.role_name LIKE CONCAT('%', #{query.roleName}, '%')
            </if>
            <if test="query.roleCode != null and query.roleCode != ''">
                AND ar.role_code LIKE CONCAT('%', #{query.roleCode}, '%')
            </if>
        </where>
    </select>

    <select id="getRoleById" resultMap="roleMap">
        SELECT ar.id AS arID,
               ar.role_name,
               ar.role_code,
               ap.id AS apID,
               ap.parent_id,
               ap.menu_name,
               ap.menu_path,
               ap.menu_url,
               ap.menu_type,
               ap.permissions,
               ap.icon,
               ap.sort
        FROM auth_role ar
                 LEFT JOIN auth_role_permission arp ON ar.id = arp.role_id
                 LEFT JOIN auth_permission ap ON arp.permission_id = ap.id
        WHERE ar.id = #{id}
          AND ar.del_flag = 1
          AND arp.del_flag = 1
          AND ap.del_flag = 1
    </select>
</mapper>
