<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mini.base.mapper.SysMessageRecordMapper">

    <insert id="batchInsert">
        INSERT INTO sys_message_record
               (r_id, rec_id, c_id, status) VALUES
        <foreach collection="list" index="" item="record" separator=",">
             (#{record.rId},
              #{record.recId},
              #{record.cId},
              #{record.status})
        </foreach>
    </insert>

    <select id="selectPage" resultType="com.mini.base.model.dto.MessageContentRecordDTO">
        select tmr.r_id,
               tmr.rec_id,
               tmr.c_id,
               tmc.send_id,
               tmr.status,
               tmc.type,
               tmc.content,
               tmc.create_time
          from sys_message_record as  tmr
         inner join t_message_content as  tmc
            on tmr.c_id = tmc.c_id
        <where>
           <if test=" query.recId != null and query.recId != '' ">
               AND tmr.rec_id = #{query.recId}
           </if>
           <if test=" query.type != null and query.type != '' ">
               AND tmr.type =  #{query.type}
           </if>
       </where>
    </select>



</mapper>