<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mini.base.mapper.SysLoginOptMapper">
    <select id="selectPage" resultType="com.mini.base.model.dto.SysLoginOptInfoDTO">
        SELECT
        id,
        username,
        opt_ip,
        opt_address,
        browser,
        system_os,
        opt_type,
        status,
        opt_msg,
        opt_time
        FROM
        sys_login_opt
        <where>
            <if test="query.username != null and query.username != ''">
                username LIKE CONCAT('%', #{query.username}, '%')
            </if>
            <if test="query.optType != null">
                AND opt_type = #{query.optType}
            </if>
            <if test="query.status != null">
                AND status = #{query.status}
            </if>
            <if test="query.optTimeStart != null and query.optTimeEnd != null ">
                AND opt_time BETWEEN #{query.optTimeStart} AND #{query.optTimeEnd}
            </if>
        </where>
        ORDER BY opt_time DESC
    </select>
</mapper>
